/.idea/
/.vscode/
/.codex

/target/
/rag-backend/target/
/rag-frontend/node_modules/
/rag-frontend/dist/
/rag-frontend/*.tsbuildinfo

/rag-backend/maven-settings.xml
/rag-backend/data/
/rag-backend/logs/

.env
venv/
.pytest_cache/
__pycache__/
*.pyc
*.iml
.DS_Store
